{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
	<script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/tabs.js' %}"></script>
	<script src="{% static 'js/slider.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
</body>

</html>