{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ type }}
{% endblock %}

{% block content %}
<section class="brand">
    <div class="container">
        <div class="hierarhy">
            <a href="{% url 'index' %}" class="title title_16">Главная</a>
            <div class="title title_16">/</div>
            <a href="{% url 'product_categories' %}" class="title title_16">Продукты</a>
            <div class="title title_16">/</div>
            <a href="{% url 'product_brands' brand.product_category.slug %}" class="title title_16">{{ type }}</a>
        </div>
    </div>
    <div class="container">
        <div class="brand_wrapper">
            <div class="brand_others">
                <div class="title title_32 bold">
                    {{ brand.product_category }}
                    <img class="mobile" src="{% static 'icons/product_drop.svg' %}" alt="drop">
                </div>
                <div class="brand_items">
                    {% for brand in brand.product_category.brand_set.all %}
                    <a href="{{ brand.get_absolute_url }}" class="title title_20 medium">{{ brand.title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="brand_descr">
                <div class="brand_title">
                    <img src="{{ brand.image.url }}" alt="logo">
                    <div class="title title_48 bold" style="color: #a15a96;">{{ brand.title }}</div>
                </div>
                <div class="title title_24 regular">{{ brand.description }}</div>
                <div class="brand_headers">
                    <div class="brand_header title title_24">Основное</div>
                    <div class="brand_header title title_24">Регламент применения</div>
                    <div class="brand_header title title_24">Действие препарата</div>
                </div>
                <div class="divider"></div>
                <div class="brand_tab">
                    <div class="brand_params">
                        <div class="brand_params_row">
                            <img src="{% static 'icons/product_type.svg' %}" alt="type">
                            <div class="brand_params_column">
                                <div class="brand_params_item">
                                    <div class="title title_20 semi-bold">Тип продукта:</div>
                                    <div class="title title_24 semi-bold">{{ brand.type }}</div>
                                </div>
                                <div class="brand_params_item">
                                    <div class="title title_20 semi-bold">Действующее вещество:</div>
                                    <div class="title title_24 semi-bold">{{ brand.substance }}</div>
                                </div>
                                <div class="brand_params_item">
                                    <div class="title title_20 semi-bold">Препаративная форма:</div>
                                    <div class="title title_24 semi-bold">{{ brand.preparative }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="brand_params_row">
                            <img src="{% static 'icons/product_expense.svg' %}" alt="expense">
                            <div class="brand_params_column">
                                <div class="brand_params_item">
                                    <div class="title title_20 semi-bold">Норма расхода:</div>
                                    <div class="title title_24 semi-bold">{{ brand.consumption }}</div>
                                </div>
                                <div class="brand_params_item">
                                    <div class="title title_20 semi-bold">Упаковка:</div>
                                    <div class="title title_24 semi-bold">{{ brand.packaging }}</div>
                                </div>
                                <div class="brand_params_item">
                                    <div class="title title_20 semi-bold">Срок годности:</div>
                                    <div class="title title_24 semi-bold">{{ brand.expiration }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brand_params_bottom">
                        <div class="divider"></div>
                        <div class="title title_24 medium">Преимущества препарата:</div>
                        <ul class="brand_advantages">
                            {% if brand.brandadvantage_set %}
                                {% for advantage in brand.brandadvantage_set.all %}
                                    <li class="title title_20 regular">{{ advantage.description }}</li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="brand_tab table">
                    <div class="brand_table">
                        <div class="brand_table_column">
                            <div class="title title_24 bold left">Культура</div>
                            {% if brand.brandusageitem_set %}
                                {% for usage_item in brand.brandusageitem_set.all %}
                                    <div class="title title_20 regular">{{ usage_item.culture }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="brand_table_column">
                            <div class="title title_24 bold left">Вредитель</div>
                            {% if brand.brandusageitem_set %}
                                {% for usage_item in brand.brandusageitem_set.all %}
                                    <div class="title title_20 regular">{{ usage_item.saboteur }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="brand_table_column">
                            <div class="title title_24 bold top"><span>Препарата</span></div>
                            {% if brand.brandusageitem_set %}
                                {% for usage_item in brand.brandusageitem_set.all %}
                                    <div class="title title_20 regular">{{ usage_item.drug_consumption }}</div>
                                {% endfor %}
                            {% endif %}
                            <div class="title title_32 bold">Норма расхода, л/т</div>
                        </div>
                        <div class="brand_table_column">
                            <div class="title title_24 bold top"><span>Рабочего р-ра</span></div>
                            {% if brand.brandusageitem_set %}
                                {% for usage_item in brand.brandusageitem_set.all %}
                                    <div class="title title_20 regular">{{ usage_item.solution_consumption }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="brand_tab images">
                    <div class="brand_images">
                        {% if brand.brandeffectimage_set %}
                            {% for image in brand.brandeffectimage_set.all %}
                                <img src="{{ image.image.url }}" alt="image">
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if brand.effect %}
                    <div class="title title_24 regular">{{ brand.effect }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
