{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ culturecategory.title }}
{% endblock %}

{% block content %}
<section class="culture">
    <div class="container static">
        <div class="hierarhy">
            <a href="{% url 'index' %}" class="title title_16">Главная</a>
            <div class="title title_16">/</div>
            <a href="{% url 'culture_categories' %}" class="title title_16">Культуры</a>
            <div class="title title_16">/</div>
            <div class="title title_16">{{ culturecategory.title }}</div>
        </div>
    </div>
    <div class="container">
        <div class="title title_48 semi-bold">{{ culturecategory.title }}</div>
        <div class="culture_wrapper">
            <div class="culture_items">
                {% for culture in culturecategory.culture_set.all %}
                    <div class="culture_item" onclick="location='{{ culture.get_absolute_url }}'">
                        <img src="{{ culture.image.url }}" alt="culture">
                        <div class="title semi-bold">{{ culture.title }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="culture_text">
            <div class="title title_20">{{ culturecategory.description|safe|linebreaks }}</div>
        </div>
        {% if categories %}
        <div class="title title_20 semi-bold head">Препараты для защиты</div>
        <div class="culture_headers">
            <div class="culture_header title title_20 semi-bold">Все препараты</div>
            {% for category in categories %}
                <div class="culture_header title title_20 semi-bold">{{ category }}</div>
            {% endfor %}
        </div>
        <div class="culture_tab">
            <div class="culture_tab_wrapper">
                {% for brand in culturecategory.brand.all %}
                    <div class="culture_tab_item" onclick="location='{{ brand.get_absolute_url }}'">
                        <img src="{{ brand.image.url }}" alt="brand">
                        <div class="culture_tab_content">
                            <div class="title title_32 semi-bold">{{ brand.title }}</div>
                            <div class="title title_20 regular">{{ brand.description }}</div>
                            <div class="title regular">{{ brand.substance }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% for category in categories %}
            <div class="culture_tab">
                <div class="culture_tab_wrapper">
                    {% for brand in culturecategory.brand.all %}
                        {% if category == brand.product_category.title %}
                        <div class="culture_tab_item" onclick="location='{{ brand.get_absolute_url }}'">
                            <img src="{{ brand.image.url }}" alt="brand">
                            <div class="culture_tab_content">
                                <div class="title title_32 semi-bold">{{ brand.title }}</div>
                                <div class="title title_20 regular">{{ brand.description }}</div>
                                <div class="title regular">{{ brand.substance }}</div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {% endif %}
        <div class="culture_icon">
            <img src="{{ culturecategory.icon.url }}" alt="icon">
        </div>
    </div>
</section>
{% endblock %}
