{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ harmful.title }}
{% endblock %}

{% block content %}
<section class="weeds">
    <div class="container">
        <div class="hierarhy">
            <a href="{% url 'index' %}" class="title title_16">Главная</a>
            <div class="title title_16">/</div>
            <a href="{% url 'harmful_categories' %}" class="title title_16">Вредные объекты</a>
            <div class="title title_16">/</div>
            <a href="{% url 'harmful_items' %}?type={{ type }}" class="title title_16">{{ type }}</a>
        </div>
    </div>
    <div class="container">
        <div class="weeds_wrapper">
            <div class="weeds_others">
                <div class="title title_32 bold nomt">
                    {{ harmful.category.title }}
                    <img class="mobile" src="{% static 'icons/product_drop.svg' %}" alt="drop">
                </div>
                <div class="weeds_links">
                    {% for item in harmful.category.get_items %}
                        <a href="{{ item.get_absolute_url }}" class="title title_20 medium">{{ item }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="weeds_descr">
                <div class="title title_48 semi-bold">{{ harmful.title }}</div>
                <div class="title title_24 semi-bold">{{ harmful.title_latin }}</div>
                <div class="weeds_descr_wrapper">
                    <div class="weeds_descr_images">
                        <img class="main_image" src="{{ harmful.harmfulimage_set.all.0.image.url }}" alt="main_image">
                        {% if harmful.harmfulimage_set.all.1 %}
                        <div class="weeds_descr_images_bottom">
                            <img class="weeds_prev" src="{% static 'icons/image_next.svg' %}" alt="prev">
                            <div class="weeds_slider">
                                <div class="weeds_field">
                                    {% for image in harmful.harmfulimage_set.all %}
                                    <div class="weeds_slide">
                                        <img src="{{ image.image.url }}" alt="weed">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <img class="weeds_next" src="{% static 'icons/image_next.svg' %}" alt="next">
                        </div>
                        {% endif %}
                    </div>
                    <div class="weeds_descr_content">
                        <div class="weeds_descr_params">
                            <div class="weeds_descr_param">
                                <div class="title title_20 semi-bold">Семейство:</div>
                                <div class="title title_24 semi-bold">{{ harmful.family }}</div>
                            </div>
                            <div class="weeds_descr_param">
                                <div class="title title_20 semi-bold">Подтип:</div>
                                <div class="title title_24 semi-bold">{{ harmful.subtype }}</div>
                            </div>
                            <div class="weeds_descr_param">
                                <div class="title title_20 semi-bold">Биологическая группа:</div>
                                <div class="title title_24 semi-bold">{{ harmful.bio_group }}</div>
                            </div>
                        </div>
                        <div class="weeds_descr_prop">
                            <div class="title title_20 semi-bold">Описание:</div>
                            <div class="title title_20">{{ harmful.description }}</div>
                        </div>
                        <div class="weeds_descr_prop">
                            <div class="title title_20 semi-bold">Биология:</div>
                            <div class="title title_20">{{ harmful.biology}}</div>
                        </div>
                    </div>
                </div>
                <div class="weeds_medication">
                    <div class="title title_20 semi-bold head">Препараты для защиты</div>
                    <div class="weeds_medication_wrapper">
                        {% for brand in brands %}
                        <div class="weeds_medication_item" onclick="location='{{ brand.get_absolute_url }}'">
                            <img src="{{ brand.image.url }}" alt="brand">
                            <div class="weeds_medication_content">
                                <div class="title title_32 semi-bold">{{ brand.title }}</div>
                                <div class="title title_20 regular">{{ brand.description }}</div>
                                <div class="title regular">{{ brand.substance }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="pagination">
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="pagination_prev rotate">
                            <img src="{% static 'icons/pag_next.svg' %}" alt="prev">
                        </a>
                        {% else %}
                        <div class="pagination_prev rotate lock">
                            <img src="{% static 'icons/pag_next.svg' %}" alt="prev">
                        </div>
                        {% endif %}
                        {% for page in page_obj.paginator.page_range %}
                            {% if page == page_obj.number %}
                            <div class="pagination_item active">{{ page }}</div>
                            {% else %}
                            <a href="?page={{ page }}" class="pagination_item">{{ page }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="pagination_next">
                            <img src="{% static 'icons/pag_next.svg' %}" alt="next">
                        </a>
                        {% else %}
                        <div class="pagination_next lock">
                            <img src="{% static 'icons/pag_next.svg' %}" alt="next">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
