{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ type }}
{% endblock %}

{% block content %}
<section class="weeds">
    <div class="container">
        <div class="hierarhy">
            <a href="{% url 'index' %}" class="title title_16">Главная</a>
            <div class="title title_16">/</div>
            <a href="{% url 'harmful_categories' %}" class="title title_16">Вредные объекты</a>
            <div class="title title_16">/</div>
            <div class="title title_16">{{ type }}</div>
        </div>
    </div>
    <div class="container">
        <div class="weeds_wrapper" id="result">
            <div class="weeds_others">
                <div class="title title_48 semi-bold">{{ type }}</div>
                {% if categories %}
                    {% for category in categories %}
                        {% if category.get_items %}
                        <div class="title title_32 bold">
                            {{ category.title }}
                            <img class="mobile" src="{% static 'icons/product_drop.svg' %}" alt="drop">
                        </div>
                        <div class="weeds_links">
                        {% for item in category.get_items %}
                            <a href="{{ item.get_absolute_url }}" class="title title_20 medium">{{ item }}</a>
                        {% endfor %}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="weeds_catalog">
                <form action="{% url 'harmful_search' %}#result" class="weeds_search" method="get">
                    <input type="hidden" name="type" value="{{ type }}">
                    <input type="text" placeholder="Поиск" name="search" onchange="submit();">
                    <img src="{% static 'icons/search.svg' %}" alt="search">
                </form>
                <div class="weeds_items">
                    {% if harmful_list %}
                    {% for item in harmful_list %}
                        <div class="weeds_item" onclick="location='{{ item.get_absolute_url }}'">
                            <img src="{{ item.image.url }}" alt="weed">
                            <div class="title title_24 semi-bold">{{ item.title }}</div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <div class="title title_20 regular">Записи будут добавлены в ближайшее время</div>
                    {% endif %}
                </div>
                <div class="pagination">
                    {% if page_obj.has_previous %}
                    {% if search %}
                    <a href="?type={{ type }}&search={{ search }}&page={{ page_obj.previous_page_number }}#result" class="pagination_prev rotate">
                    {% else %}
                    <a href="?type={{ type }}&page={{ page_obj.previous_page_number }}#result" class="pagination_prev rotate">
                    {% endif %}
                        <img src="{% static 'icons/pag_next.svg' %}" alt="prev">
                    </a>
                    {% else %}
                    <div class="pagination_prev rotate lock">
                        <img src="{% static 'icons/pag_next.svg' %}" alt="prev">
                    </div>
                    {% endif %}
                    {% for page in page_obj.paginator.page_range %}
                        {% if page == page_obj.number %}
                        <div class="pagination_item active">{{ page }}</div>
                        {% else %}
                            {% if search %}
                            <a href="?type={{ type }}&search={{ search }}&page={{ page }}#result" class="pagination_item">{{ page }}</a>
                            {% else %}
                            <a href="?type={{ type }}&page={{ page }}#result" class="pagination_item">{{ page }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    {% if search %}
                    <a href="?type={{ type }}&search={{ search }}&page={{ page_obj.next_page_number }}#result" class="pagination_next">
                    {% else %}
                    <a href="?type={{ type }}&page={{ page_obj.next_page_number }}#result" class="pagination_next">
                    {% endif %}
                        <img src="{% static 'icons/pag_next.svg' %}" alt="next">
                    </a>
                    {% else %}
                    <div class="pagination_next lock">
                        <img src="{% static 'icons/pag_next.svg' %}" alt="next">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
