{% extends "base.html" %}
{% load static %}

{% block title %}
    ЭкоФарминг
{% endblock %}

{% block content %}
<div class="weather" id="weather">
    <div class="container">
        <div class="weather_wrapper">
            <div class="weather_widget">
                <div class="weather_left">
                    <img src="{% static 'img/weather_bg_1.png' %}" class="weather_bg" alt="weather_bg">
                    <div class="weather_widget_top">
                        <div class="title title_37">{{ weather.0.date|date:'l' }}</div>
                        <div class="title title_22 medium">{{ weather.0.date|date:'j E Y' }}</div>
                        <div class="title title_20 semi-bold">
                            <img src="{% static 'icons/weather_map.svg' %}" alt="map">
                            <span id="weather_city">{{ weather.0.city }}</span>
                        </div>
                    </div>
                    <div class="weather_widget_bottom">
                        <img src="http://openweathermap.org/img/w/{{ weather.0.icon }}.png" alt="sunny">
                        <div class="title title_50 bold">{{ weather.0.temp }} °C</div>
                        <div class="title title_30 bold">{{ weather.0.weather|capfirst }}</div>
                    </div>
                </div>
                <div class="weather_right">
                    <div class="title title_24 bold upper">Среднесуточные показатели</div>
                    <img src="{% static 'img/weather_bg_2.png' %}" class="weather_bg" alt="weather_bg">
                    <div class="weather_parameters">
                        <div class="weather_parameter nomt">
                            <div class="title title_28 bold">ОБЛАЧНОСТЬ</div>
                            <div class="title title_28 medium">{{ weather.1.clouds }}%</div>
                        </div>
                        <div class="weather_parameter">
                            <div class="title title_28 bold">ВЛАЖНОСТЬ</div>
                            <div class="title title_28 medium">{{ weather.1.humidity }}%</div>
                        </div>
                        <div class="weather_parameter">
                            <div class="title title_28 bold">ВЕТЕР</div>
                            <div class="title title_28 medium">{{ weather.1.wind }} км/ч</div>
                        </div>
                    </div>
                    <div class="weather_parameters">
                        <div class="weather_parameter nomt">
                            <div class="title title_28 bold">ОБЛАЧНОСТЬ</div>
                            <div class="title title_28 medium">{{ weather.2.clouds }}%</div>
                        </div>
                        <div class="weather_parameter">
                            <div class="title title_28 bold">ВЛАЖНОСТЬ</div>
                            <div class="title title_28 medium">{{ weather.2.humidity }}%</div>
                        </div>
                        <div class="weather_parameter">
                            <div class="title title_28 bold">ВЕТЕР</div>
                            <div class="title title_28 medium">{{ weather.2.wind }} км/ч</div>
                        </div>
                    </div>
                    <div class="weather_parameters">
                        <div class="weather_parameter nomt">
                            <div class="title title_28 bold">ОБЛАЧНОСТЬ</div>
                            <div class="title title_28 medium">{{ weather.3.clouds }}%</div>
                        </div>
                        <div class="weather_parameter">
                            <div class="title title_28 bold">ВЛАЖНОСТЬ</div>
                            <div class="title title_28 medium">{{ weather.3.humidity }}%</div>
                        </div>
                        <div class="weather_parameter">
                            <div class="title title_28 bold">ВЕТЕР</div>
                            <div class="title title_28 medium">{{ weather.3.wind }} км/ч</div>
                        </div>
                    </div>
                    <div class="weather_parameters">
                        <div class="weather_parameter nomt">
                            <div class="title title_28 bold">ОБЛАЧНОСТЬ</div>
                            <div class="title title_28 medium">{{ weather.4.clouds }}%</div>
                        </div>
                        <div class="weather_parameter">
                            <div class="title title_28 bold">ВЛАЖНОСТЬ</div>
                            <div class="title title_28 medium">{{ weather.4.humidity }}%</div>
                        </div>
                        <div class="weather_parameter">
                            <div class="title title_28 bold">ВЕТЕР</div>
                            <div class="title title_28 medium">{{ weather.4.wind }} км/ч</div>
                        </div>
                    </div>
                    <div class="weather_degrees">
                        <div class="weather_degree active">
                            <img src="http://openweathermap.org/img/w/{{ weather.0.icon }}.png" alt="sunny">
                            <div class="title title_20">{{ weather.1.date|date:'D' }}</div>
                            <div class="title title_20 bold">{{ weather.1.temp }} °C</div>
                        </div>
                        <div class="weather_degree">
                            <img src="http://openweathermap.org/img/w/{{ weather.0.icon }}.png" alt="cloudy">
                            <div class="title title_20">{{ weather.2.date|date:'D' }}</div>
                            <div class="title title_20 bold">{{ weather.2.temp }} °C</div>
                        </div>
                        <div class="weather_degree">
                            <img src="http://openweathermap.org/img/w/{{ weather.0.icon }}.png" alt="rainy">
                            <div class="title title_20">{{ weather.3.date|date:'D' }}</div>
                            <div class="title title_20 bold">{{ weather.3.temp }} °C</div>
                        </div>
                        <div class="weather_degree">
                            <img src="http://openweathermap.org/img/w/{{ weather.0.icon }}.png" alt="sunny">
                            <div class="title title_20">{{ weather.4.date|date:'D' }}</div>
                            <div class="title title_20 bold">{{ weather.4.temp }} °C</div>
                        </div>
                    </div>
                    <button class="button button_city">
                        <img src="{% static 'icons/weather_map.svg' %}" alt="map">выбрать город
                    </button>
                    <form action="{% url 'index' %}#weather" class="weather_form" method="get">
                        <input type="text" placeholder="Введите название города" name="city" onchange="submit();">
                    </form>
                </div>
            </div>
            <div class="weather_controls">
                <img class="weather_prev rotate" src="{% static 'icons/weather_next.svg' %}" alt="prev">
                <img class="weather_next" src="{% static 'icons/weather_next.svg' %}" alt="next">
            </div>
            <div class="weather_slider">
                <div class="weather_field">
                    {% if news%}
                        {% for slide in news %}
                            <div class="weather_slide" onclick="location='{{ slide.get_absolute_url }}'">
                                <div class="title title_40 semi-bold">{{ slide.title }}</div>
                                <div class="title title_20 regular">{{ slide.description|truncatechars:280|safe }}</div>
                                <img src="{{ slide.image.url }}" alt="template">
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="title title_20 regular">Записи будут добавлены в ближайшее время</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<section class="videos">
    <div class="container">
        <div class="title title_48 semi-bold">Видеоматерилы</div>
        <div class="videos_wrapper">
            {% for video in videos %}
            <div class="videos_item" data-fancybox data-src="{{ video.video.url }}">
                <div class="videos_item_image">
                    <img class="bg" src="{{ video.image.url }}" alt="video">
                    <img class="start" src="{% static 'icons/start_video.svg' %}" alt="start">
                </div>
                <div class="title title_24 semi-bold">{{ video.title }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}