{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ type }}
{% endblock %}

{% block content %}
<section class="product_brands">
    <div class="container">
        <div class="title title_48 semi-bold">{{ type }}</div>
        <div class="product_brands_wrapper">
            {% if brands_list %}
                {% for brand in brands_list %}
                    <div class="product_brands_item" onclick="location='{{ brand.get_absolute_url }}'">
                        <img src="{{ brand.image.url }}" alt="brand">
                        <div class="product_brands_content">
                            <div class="title title_32 semi-bold">{{ brand.title }}</div>
                            <div class="title title_20 regular">{{ brand.description }}</div>
                            <div class="title regular">{{ brand.substance }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="title title_20 regular">Записи будут добавлены в ближайшее время</div>
            {% endif %}
        </div>
        <div class="pagination">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="pagination_prev rotate">
                <img src="{% static 'icons/pag_next.svg' %}" alt="prev">
            </a>
            {% else %}
            <div class="pagination_prev rotate lock">
                <img src="{% static 'icons/pag_next.svg' %}" alt="prev">
            </div>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                <div class="pagination_item active">{{ page }}</div>
                {% else %}
                <a href="?page={{ page }}" class="pagination_item">{{ page }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="pagination_next">
                <img src="{% static 'icons/pag_next.svg' %}" alt="next">
            </a>
            {% else %}
            <div class="pagination_next lock">
                <img src="{% static 'icons/pag_next.svg' %}" alt="next">
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
