{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ publication.title }}
{% endblock %}

{% block content %}
<section class="publications">
    <div class="container">
        <div class="flex">
            <div class="title title_48 semi-bold">{{ publication.title }}</div>
            <button class="button button_back" onclick="location='{% url 'publications' publication.type %}'">Назад</button>
        </div>
        <div class="publications_wrapper">
            <div class="publications_text">
                <div class="title title_24 medium">{{ publication.description|safe|linebreaks }}</div>
            </div>
            <div class="publications_images">
                {% for image in publication.publicationimage_set.all %}
                <div class="image" data-fancybox="pub_images" data-src="{{ image.image.url }}">
                    <img class="main" src="{{ image.image.url }}" alt="">
                    <img class="zoom" src="{% static 'icons/zoom.svg' %}" alt="zoom">
                </div>
                {% endfor %}
            </div>
            <div class="publications_slider">
                <div class="publications_field">
                    {% for image in publication.publicationimage_set.all %}
                    <div class="publications_slide" data-fancybox="pub_images_mob" data-src="{{ image.image.url }}">
                        <img class="main" src="{{ image.image.url }}" alt="">
                        <img class="zoom" src="{% static 'icons/zoom.svg' %}" alt="zoom">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="publications_info">
            <div class="title title_24 medium">{{ publication.description_2|safe|linebreaks }}</div>
        </div>
    </div>
</section>
{% endblock %}
